.navbar-empty {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--page-max-width);
    margin: auto;
}

.navbar-empty i {
    margin: 8px;
    color: var(--primary);
    font-size: 5em;
}
.navbar-empty h3 {
    margin: 0px;
    color: var(--primary);
    font-size: 2em;
}

[class*="module"].headlines {
    --h2-font-size: 4em !important;
    --h3-font-size2: 2em !important;
    --insert-padding: 64px !important;
}

[class*="module"].box-quotes {
    background: #fff;
    box-shadow: var(--shadow);
    --insert-padding: 64px 32px;
    --insert-display: flex;
    --insert-justify-content: center;
    --insert-align-items: center;
    --insert-flex-direction: column;
    --fa-text-align: center;
    --fa-padding: 32px 0;
    --fa-font-size: 4em;
    --fa-color: var(--primary);
}

a.quotes-page  {
    color: blue !important;
}

.icon-bottom i {
    font-size: 5em;
}

.foot-menu a {
    color: var(--primary) !important;
    margin: 4px 2px;
}